.table {
    font-family: "Fira Sans", sans-serif;
    border-collapse: collapse;
  }
  
  .table th {
    text-align: left;
    border-top: 1px solid #009578;
    border-bottom: 1px solid #009578;
  }
  
  .table td,
  .search-input {
    font-size: 1em;
    padding: 0.1em 1em;
  }
  
  .search-input {
    border: none;
    outline: none;
    font-family: "Fira Sans", sans-serif;
  }
  